@import "tailwindcss";
/* @import "tw-animate-css"; */
@import "shadcn/tailwind.css";
@source "../components/**/*.{js,ts,jsx,tsx}";
@source "../node_modules/some-package/dist/**/*.js";

@theme {
  /* fonts Start */
  --font-manrope: var(--font-manrope);
  --font-poppins: var(--font-poppins);
  --font-outfit: var(--font-outfit);
  /* fonts End */

  /* Color Start */
  --color-heading: #D98C74;
  --color-cyn: #7FB3B0;
  --color-para: #697586;
  --color-secondary: #718496;
  --color-primary: #F3B39D;
  --color-heading1: #49566C;
  --color-border1: #E3E8EF;
  --color-tabText: #202939;
  --color-verified: #1D69E1;
  --color-lightbg: #E0E7ED80;
  --color-textdark: #12141D;
  --color-bgLight: #F4F8FF;
  --color-green: #8FA58A;
  --color-border: #E4E4E4;
  --color-primary_light: #FFEFEA;
  --color-success: #64A256;
  --color-success_light: #EAF9E7;
  --color-text-dark: #4D6D8C;
  --color-text-dark-gardener: #7FB3B0;
  --color-light-bg: #E0E7ED;
  --color-modal-line: #D5E8FC;
  --color-share-modal-icon: #FE9A86;
  --color-icon-bg: #60705D;
  --color-light-green: #A4B99F;
  --color-border-light: #E2E8F0;
  --color-text-dark-secondary: #303231;
  --color-primary-dark-bg: #FFFFFF42;
  --color-secondary-close-btn-bg: #E8E8E8;
  --color-secondary-OTP-btn-bg: #ECEFF6;
  --color-resnd-OTP-btn-txt: #374151;
  --color-profile-bg-txt: #F4FAFF;
  --color-success-modal-txt-dark: #0F172A;
  --color-success-modal-txt-secondary-contrast: #3A5670;


  /* Color End */

}

/* Hide scrollbar but allow scroll */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE & Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.phone-input input {
  width: 100%;
  padding: 12px;
  border: 1px solid #E4E4E4;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
}

.otp-input {
  width: clamp(2.2rem, 10vw, 3.813rem) !important;
  height: clamp(2.8rem, 12vw, 4.563rem) !important;
  font-size: clamp(1.1rem, 4vw, 1.75rem) !important;
  border-radius: clamp(0.75rem, 3vw, 1.375rem) !important;
  border: 1px solid #D5E8FC !important;
  color: #202939 !important;
  font-weight: 500 !important;
  outline: none !important;
}

.otp-input:focus {
  border: 1px solid #FE9A86 !important;
  box-shadow: 0 0 0 2px #FE9A86 !important;


}

.otp-input::placeholder {
  color: #9CA3AF;
  opacity: 1;
}