@import "tailwindcss";
/* @import "tw-animate-css"; */
@import "shadcn/tailwind.css";

@theme {
  /* fonts Start */
  --font-manrope: var(--font-manrope);
  --font-poppins: var(--font-poppins);
  --font-outfit: var(--font-outfit);
  /* fonts End */

  /* Color Start */
  --color-heading: #D98C74;
  --color-para: #697586;
  --color-secondary: #718496;
  --color-primary: #F3B39D;
  --color-heading1: #49566C;
  --color-border1: #E3E8EF;
  --color-tabText: #202939;
  --color-verified: #1D69E1;
  --color-lightbg: #E0E7ED80;
  --color-textdark: #12141D;
  --color-bgLight: #F4F8FF;
  --color-green: #8FA58A;
  --color-border: #E4E4E4;
  --color-primary_light: #FFEFEA;
  --color-success: #64A256;
  --color-success_light: #EAF9E7;
  --color-text-dark: #4D6D8C;
  --color-light-bg: #E0E7ED;
  --color-modal-line: #D5E8FC;


  /* Color End */

}

/* Hide scrollbar but allow scroll */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}